@using System.Web;
@{
      Layout = null;
}

<div class="container-fluid">       
        <div class="content-main">
            <h1>Properties</h1>
            <div class="row">
                <div class="form-group form-inline">
                    <label for="search" class="form-label">Search:</label>
                    <input class="form-control" id="search" placeholder="enter search terms" ng-model="$ctrl.query" />
                    <select class="form-control" ng-model="$ctrl.orderProp">
                        <option value="Id" selected="selected">Alphabetical</option>
                        <option value="Country">Newest</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div ng-repeat="prop in $ctrl.properties | filter:$ctrl.query | orderBy:$ctrl.orderProp">
                    <a href="#!/{{prop.id}}" class=" col-md-3 col-sm-3 col-xs-4 property-box">
                        <img src="~/Property/Image?ext={{prop.ImagePaths[0]}}" class="property-image">
                        <h3>{{prop.Title}}</h3>
                        <h5>{{prop.Address}}</h5>
                        <h5>{{prop.Country}}</h5>
                    </a>
                </div>
            </div>
         </div>   
</div>